<div class='wrapper'>
  <div ng-repeat="package in referral.info.packages">
    <div class='' ng-class="{package: true, brilliant: package.highlighted}" >
      <div class='name'>{{package.name}}</div>
      <div class='price'>{{package.currency + package.price}}</div>
      <div class='trial'>{{package.text}}</div>
      <hr>
      <ul>
        <li ng-repeat="feature in package.features">
          <strong>{{feature.amount}}</strong>
          {{feature.type}}
        </li>
      </ul>
    </div>
  </div>